<div class='panel panel-danger'>
<div class='panel-heading'>
<h3 class='panel-title'>{{src}} error occurred</h3>
</div>
<div class='panel-body'>
<b>{{msg}}</b><br>
<small>URL: {{url}}</small><br>
<div class="version">{{ver}}</div>
</div>
</div>
