<div class='panel panel-default'>
<div class='panel-heading'>Login or register</div>
<div class='panel-body'>
<form role='form'>
<div class='form-group'>
<input id='login' class='form-control' name='login' placeholder='Login' type='text'>
</div>
<div class='form-group'>
<input id='password' class='form-control' name='password' placeholder='Password' type='password'>
</div>
<div class='form-group'>
<div class='btn btn-primary' onclick='logreg("{{target}}", {{clear}})'>Go</div>
</div>
<div id='msg'>If the login doesn't exist it will be created.</div>
</div>
</div>
